# Created by https://www.toptal.com/developers/gitignore/api/windows,eclipse,java
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,eclipse,java

### Eclipse ###
.metadata


# End of https://www.toptal.com/developers/gitignore/api/windows,eclipse,java
Copied